@import "tailwindcss";

@theme {
    --*: initial;
    --spacing: 0.08px;
    --color-black: #000000;
    --color-teal-dark: #31c3bd;
    --color-teal-light: #65e9e4;
    --color-orange-dark: #f2b137;
    --color-orange-light: #ffc860;
    --color-green-dark: #1a2a33;
    --color-green-light: #1f3641;
    --color-gray-dark: #a8bfc9;
    --color-gray-light: #dbe8ed;
}

@layer utilities {
    .text-heading-l {
        /* Outfit, bold, 40px, 2.5px kerning */
        font-family: "Outfit", sans-serif;
        font-weight: 700;
        font-size: 2.5rem;
        letter-spacing: 0.15625rem;
    }

    .text-heading-m {
        /* Outfit, bold, 24px, 1.5px kerning */
        font-family: "Outfit", sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        letter-spacing: 0.09375rem;
    }

    .text-heading-s {
        /* Outfit, bold, 20px, 1.25px kerning */
        font-family: "Outfit", sans-serif;
        font-weight: 700;
        font-size: 1.25rem;
        letter-spacing: 0.078125rem;
    }

    .text-heading-xs {
        /* Outfit, bold, 16px, 1px kerning */
        font-family: "Outfit", sans-serif;
        font-weight: 700;
        font-size: 1rem;
        letter-spacing: 0.0625rem;
    }

    .text-body {
        /* Outfit, medium, 14px, 0.8px kerning */
        font-family: "Outfit", sans-serif;
        font-weight: 500;
        font-size: 0.875rem;
        letter-spacing: 0.05rem;
    }
}
